* {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  box-sizing: border-box;
  font-family: 'SF Pro Text','SF Pro Icons','Helvetica Neue','Helvetica','Arial',sans-serif;
  font-size: 16px;
  line-height: 1.25em;
}

:focus {
  outline: none;
}

::placeholder {
  color: darkgrey;
  opacity: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  align-items: center;
  background: lightgrey;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  position: absolute;
  width: 100%;
}

button {
  background: none;
  border: 1px solid transparent;
  color: inherit;
  margin: -1px;
  padding: 0;
}

button {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

input {
  -webkit-appearance: none !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
}

button[tabindex="0"],
.primary label[tabindex="0"] {
  cursor: pointer;
}

.app {
  display: flex;
  overflow: hidden;
  border-radius: 1em;
  height: 48em;
  opacity: 0;
  width: 64em;
}

.app > * {
  overflow: hidden;
}

.outset .app,
.outset-x .app,
.outset-y .app {
  border-radius: 0;
}

.outset .app,
.outset-x .app {
  width: 100%;
}

.outset .app,
.outset-y .app {
  height: 100%;
}

.ion-ios-brush:before {
  font-size: 1em !important;
}

.ion-ios-cloud-download-outline {
  border-color: transparent !important;
}

.ion-ios-log-out-outline:before {
  font-size: 1.5em !important;
}

.ion-ios-search-outline:before {
  font-size: 1.5em !important;
}

.ion-ios-lock:before,
.ion-ios-square:before,
.ion-ios-unlock:before {
  font-size: 1em !important;
}

.progress {
  background: lightgrey;
  height: 3px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.progress span {
  display: block;
  background: rgb(14, 122, 254);
  height: 3px;
  width: 0;
}

div.states {
  display: flex;
  flex-direction: column;
  width: 0.75em;
}

div.states span {
  border-radius: 50%;
  display: none;
  height: 0.75em;
  width: 0.75em;
}

.state.top div.states {
  align-self: flex-start;
  margin-top: 0.3em;
}

.state.top div.states span {
  margin-bottom: 0 0 0.35em;
}

*[dir=rtl] div.states:first-of-type,
div.states:last-of-type {
  margin-left: 0.5em;
  margin-right: 0;
}

*[dir=rtl] div.states:last-of-type,
div.states:first-of-type {
  margin-left: 0;
  margin-right: 0.5em;
}

*[dir=rtl] .flip:before {
  transform: rotate(180deg);
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}

@media (max-width: 64em), (max-height: 48em) {
  .app {
    border-radius: 0;
    height: 100%;
    padding: 0;
    width: 100%;
  }
}

@media not all and (max-width: 64em) {
  button[tabindex="0"]:focus,
  .primary label[tabindex="0"]:focus {
    border: 1px dotted black !important;
  }
}
