* {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25em;
}

:focus {
  outline: none;
}

::placeholder {
  color: darkgrey;
  opacity: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  width: 100%;
}

button {
  background: none;
  border: 1px solid transparent;
  color: inherit;
  height: 1.25em;
  margin: 0;
  padding: 0;
}

input {
  -webkit-appearance: none !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
}

button[tabindex="0"],
.primary label[tabindex="0"] {
  cursor: pointer;
}

.app {
  display: flex;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  width: 100%;
}

.app > * {
  overflow: hidden;
}

.ion-edit:before {
  font-size: 1em !important;
}

.ion-ios-search:before {
  font-size: 1.5em !important;
}

*[dir=rtl] .ion-ios-arrow-back:before,
*[dir=rtl] .ion-ios-arrow-forward:before,
*[dir=rtl] .ion-ios-arrow-thin-right {
  transform: rotate(180deg);
}

@media not all and (max-width: 64em) {
  .app {
    background: rgba(255,255,255,0.5);
    border-radius: 1em;
    height: 48em;
    padding: 1em;
    width: 64em;
  }
}

@media (min-width: 48em) {
  button[tabindex="0"]:focus,
  .primary label[tabindex="0"]:focus {
    border: 1px dotted black !important;
  }
}
