form {
  margin: 0;
}

form ul.hidden {
  display: none;
}

form ul.block input {
  background: none;
  border: 0;
  flex: 1;
  margin: 0 1em 0 0;
  padding: 0.5em;
  width: 0;
}

form ul.block input[disabled] {
  background: inherit;
  color: inherit;
  cursor: default;
}

form ul.block input[type=checkbox] {
  display: none;
}

form ul.block input[type=checkbox]:first-child + label:before {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  content: '\f401';
  display: flex;
  font-family: 'Ionicons';
  justify-content: center;
  height: 1em;
  margin: 0 0 0 -0.1em;
  width: 1em;
}

form ul.block input[type=checkbox]:first-child:checked + label:before {
  content: '\f3ff';
}

form ul.block label + input[type=checkbox] + label {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 2em;
  margin: 0 0 0 auto;
  outline: 0;
  overflow: visible;
  padding: 0;
  position: relative;
  right: 4.5em;
  width: auto;
}

form ul.block label + input[type=checkbox] + label:after {
  background: rgb(255,255,255);
  border: 1px solid white;
  border-radius: 1em;
  box-shadow: rgb(170,170,170) 0 1px 5px;
  content: '';
  cursor: inherit;
  height: 1.85em;
  left: 0;
  margin: 1px;
  padding: 0;
  position: absolute;
  top: 0;
  transition: left 0.25s;
  width: 1.85em;
}

form ul.block label + input[type=checkbox] + label:before {
  background: rgb(255,255,255);
  border: 1px solid lightgrey;
  border-radius: 1em;
  content: '';
  cursor: pointer;
  height: 2em;
  position: absolute;
  top: 0;
  transition: background-color 0.25s;
  width: 3.25em;
}

form ul.block label + input[type=checkbox]:checked + label:after {
  left: 1.3em;
}

form ul.block label + input[type=checkbox]:checked + label:before {
  background-color: green;
  border-color: green;
}

form ul.block input[type=radio] {
  display: none;
}

form ul.block input[type=radio]:checked + label {
  margin-left: auto;
  margin-right: 1em;
}

form ul.block input[type=radio]:checked + label:after {
  content: '\f3fd';
  font-family: 'Ionicons';
  font-size: 1.9em;
}

form ul.block input[type=submit] {
  background: none;
  cursor: pointer;
}

form ul.block input[type=submit]:active,
form ul.block input[type=submit][disabled] {
  opacity: 0.5;
}

form ul.block input[type=submit][disabled] {
  cursor: default;
}

form ul.block label {
  cursor: inherit;
}

form ul.block label:not(:empty) {
  border: 1px solid transparent;
  margin: 0 1em 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

form ul.block li {
  cursor: default;
}

form ul.block .button {
  margin: 0 1em 0 0;
}

*[dir=rtl] form ul.block input {
  margin: 0 0 0 1em;
}

*[dir=rtl] form ul.block label + input[type=checkbox] + label {
  margin-left: 0;
  margin-right: auto;
  right: -4.5em;
}

*[dir=rtl] form ul.block label + input[type=checkbox] + label:after {
  left: -2.1em;
}

*[dir=rtl] form ul.block label + input[type=checkbox]:checked + label:after {
  left: -3.35em;
}

*[dir=rtl] form ul.block input[type=radio]:checked + label {
  margin-left: 1em;
  margin-right: auto;
}

*[dir=rtl] form ul.block label:not(:empty) {
  margin: 0 0 0 1em;
}

*[dir=rtl] form ul.block .button {
  margin: 0 0 0 1em;
}

@media (min-width: 48em) {
  form ul.block input[type=checkbox]:first-child + label:focus:before {
    border: 1px dotted black;
  }

  form ul.block label + input[type=checkbox] + label:focus:after {
    border: 1px dotted black;
  }

  form ul.block input[tabindex="0"]:focus {
    outline: 1px dotted black;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  form ul.block label + input[type=checkbox] + label:after,
  form ul.block label + input[type=checkbox] + label:before {
    border-width: 0.5px;
  }
}
