.graph {
  background: white;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  margin: 2em 0 0;
  padding: 1em 0;
}

.graph.maximized {
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.graph.maximized svg {
  position: absolute;
}

.graph .body {
  width: 100%;
  height: 100%;
}

.graph .body .inner {
  flex: 1 1 auto;
  position: relative;
}

.graph .body svg {
  display: block;
}

.graph .body text {
  opacity: 0.4;
  font-size: 0.9em;
}

.graph .body .axis path {
  display: none;
}

.graph .body .axis line {
  opacity: 0.2;
}

.graph .body .bar rect {
  fill: black;
}

.graph .body .line path,
.graph .body .scatter circle {
  fill: rgba(0, 0, 0, 0);
  stroke: black;
}

.graph-tip {
  background: #000;
  color: #FFF;
  padding: 0.5em;
  margin: -0.5em 0 0;
  position: absolute;
  white-space: nowrap;
  border-radius: 0.3em;
  z-index: 2;
}

.graph-tip .key {
  font-size: 0.9em;
  padding-bottom: 0.5em;
}

.graph-tip .title {
  font-size: 0.9em;
  padding-bottom: 0.5em;
}

.graph-tip .value {
  font-weight: bold;
}

@media (min-width: 48em) {
  .graph {
    border: 0;
    border-radius: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
  }

  .graph.maximized {
    border-radius: 0;
    margin: 0;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .graph {
    border-width: 0.5px;
  }
}

@media only screen and (orientation:portrait) {
  .graph.maximized {
    transform: rotate(-90deg);
    transform-origin: top left;
  }
}
