.graph {
  display: flex;
  flex-direction: column;
}

.graph.maximized {
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.graph.maximized svg {
  position: absolute;
}

.graph .body {
  background: white;
  flex: 1;
  overflow: hidden;
}

.graph .body .wrapper {
  margin: 0 -0.5em -0.5em;
}

.graph .body .inner {
  flex: 1 1 auto;
  height: 100%;
  position: relative;
  width: 100%;
}

.graph .body svg {
  display: block;
}

.graph .body text {
  opacity: 0.4;
  font-size: 0.75em;
}

.graph .body .axis path {
  display: none;
}

.graph .body .axis line {
  stroke: lightgrey;
}

.graph .body .bar rect {
  fill: rgb(14, 122, 254);
}

.graph .body .bar rect.empty {
  fill: lightgrey;
}

.graph .body .bar.click rect {
  cursor: pointer;
}

.graph .body .line path,
.graph .body .scatter circle {
  fill: rgba(0, 0, 0, 0);
  stroke: rgb(14, 122, 254);
}

.graph .body .message {
  align-items: center;
  background: white;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.graph .header {
  align-items: center;
  background: white;
  border-top: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1em;
  padding: 1em;
}

.graph .header .name {
  font-size: 1.1em;
}

.graph-tip {
  background: #000;
  color: #FFF;
  padding: 0.5em;
  margin: -0.5em 0 0;
  position: absolute;
  white-space: nowrap;
  border-radius: 0.3em;
  z-index: 2;
}

.graph-tip .key {
  font-size: 0.9em;
  padding-bottom: 0.5em;
}

.graph-tip .title {
  font-size: 0.9em;
  padding-bottom: 0.5em;
}

.graph-tip .value {
  font-weight: bold;
}

@media (min-width: 48em) {
  .graph.maximized .body {
    border-radius: 0;
  }

  .graph .body {
    border-radius: 0.5em;
  }

  .graph .body .wrapper {
    margin: 0;
  }

  .graph .body text {
    font-size: 0.9em;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .graph,
  .graph .header {
    border-width: 0.5px;
  }

  .graph .body .axis line {
    stroke-width: 0.5;
  }
}

@media only screen and (orientation:portrait) {
  .graph.maximized {
    transform: rotate(-90deg);
    transform-origin: top left;
  }
}
