ul.block {
  height: auto;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  transition: height 0.25s;
  border-bottom: 1px solid transparent;
}

ul.block.folded:not(:empty) {
  height: 1.575em;
}

ul.block:not(:empty) {
  margin: 2em 1em 0;
}

ul.block > li {
  align-items: center;
  background: white;
  display: flex;
  min-height: 3em;
  padding: 0.5em 0 0.5em 1em;
  position: relative;
}

ul.block > li:first-of-type {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

ul.block > li:last-of-type {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

ul.block > li.click:not(.disabled) {
  cursor: pointer;
}

ul.block > li.click:not(.disabled):active {
  background: lightgrey;
}

ul.block > li:before {
  border-bottom: 1px solid lightgrey;
  left: 0;
  position: absolute;
  right: 0;
}

ul.block > li:before {
  content: '';
  left: 1em;
  top: 0;
}

ul.block > li:first-of-type:before {
  content: none;
}

ul.block > li.icon + li:before {
  left: 3.5em;
}

ul.block > li.click:not(.disabled):active + li:before,
ul.block > li.click:not(.disabled):active:before {
  left: 0;
}

ul.block > li .button {
  border: 1px solid darkgrey;
}

ul.block > li .icon {
  margin: 0 1em 0 0;
  text-align: center;
  width: 1.5em;
}

ul.block > li .icon:before {
  font-size: 1.9em;
}

ul.block > li .number:not(:empty) {
  color: darkgrey;
  width: 1.9em;
}

ul.block > lt {
  border-bottom: 1px solid transparent;
  color: darkgrey;
  display: block;
  font-size: 0.9em;
  text-transform: uppercase;
}

ul.block > lt:not(:empty) {
  padding: 0 1em 0.5em;
}

ul.block > lt.fold {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

ul.block > lt.fold:active {
  opacity: 0.5;
}

ul.block.folded lt.fold:after {
  transform: rotate(0);
}

ul.block > lt.fold:after {
  content: '\f3d3';
  font-family: Ionicons;
  font-size: 1.25em;
  transform: rotate(90deg);
  transition: transform 0.25s;
}

ul.block div.primary:not(:empty) {
  display: flex;
  flex-direction: column;
  margin: 0 1em 0 0;
  min-width: 0;
}

ul.block.list li.secondary div.primary:not(:empty) {
  flex: 1 0 auto;
}

ul.block.list div.primary:not(:empty) {
  flex: 1;
}

ul.block div.primary span {
  font-size: 0.9em;
}

ul.block div.primary .l0,
ul.block div.primary .l1,
ul.block div.primary .l2,
ul.block div.primary .l3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul.block div.primary .l0:not(:empty) {
  margin: 0 0 0.15em;
}

ul.block div.primary .l2:not(:empty),
ul.block div.primary .l3:not(:empty) {
  margin: 0.15em 0 0;
}

ul.block div.primary .l0:not(:empty),
ul.block div.primary .l3:not(:empty),
ul.block div.primary .l4:not(:empty) {
  color: darkgrey;
}

ul.block div.primary .l4:not(:empty) {
  margin: 0 0 0 1em;
  flex: 1 0 auto;
  text-align: end;
}

ul.block div.primary .line {
  align-items: center;
  display: flex;
}

ul.block > li.full div.primary .l3 {
  overflow: auto;
  text-overflow: none;
  white-space: normal;
}

ul.block > li.full div.primary .l3 > * {
  line-height: 1.5em;
  margin: 0;
}

ul.block > li.full div.primary .l3 > * + p {
  margin: 1em 0 0;
}

ul.block > li.full div.primary .l3 li {
  line-height: inherit;
}

ul.block > li.multiline div.primary .l3:not(:empty) {
  height: 2.5em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

ul.block div.secondary:not(:empty) {
  align-items: center;
  color: darkgrey;
  display: flex;
  margin-left: auto;
  overflow: hidden;
  white-space: nowrap;
}

ul.block div.secondary .button,
ul.block div.secondary .icon,
ul.block div.secondary .l5:not(:empty) {
  margin: 0 1em 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.block div.secondary .l5 {
  flex: 1;
}

ul.block div.secondary .icon {
  color: darkgrey;
  width: auto;
}

ul.block > li.disabled div.secondary .icon {
  display: none;
}

.menu .outset ul.block:not(:empty),
.menu .outset-x ul.block:not(:empty) {
  margin-left: 0;
  margin-right: 0;
}

.menu .outset ul.block:not(:empty),
.menu .outset-y ul.block:not(:empty) {
  margin-bottom: 0;
  margin-top: 0;
}

.menu .outset ul.block > li:first-of-type,
.menu .outset ul.block > li:last-of-type,
.menu .outset-x ul.block > li:first-of-type,
.menu .outset-x ul.block > li:last-of-type,
.menu .outset-y ul.block > li:first-of-type,
.menu .outset-y ul.block > li:last-of-type {
  border-radius: 0;
}

.menu .outset-x ul.block,
.menu .outset-x ul.block > lt {
  border-color: lightgrey;
}

*[dir=rtl] ul.block > li {
  padding: 0.5em 1em 0.5em 0;
}

*[dir=rtl] ul.block > li:before {
  left: 0;
  right: 1em;
}

*[dir=rtl] ul.block > li.icon:before {
  left: 0;
  right: 3.5em;
}

*[dir=rtl] ul.block > li .icon {
  margin: 0 0 0 1em;
}

*[dir=rtl] ul.block div.primary:not(:empty) {
  margin: 0 0 0 1em;
}

*[dir=rtl] ul.block div.primary .l4:not(:empty) {
  margin: 0 1em 0 0;
}

*[dir=rtl] ul.block div.secondary:not(:empty) {
  margin-left: initial;
  margin-right: auto;
}

*[dir=rtl] ul.block div.secondary .button,
*[dir=rtl] ul.block div.secondary .icon,
*[dir=rtl] ul.block div.secondary .l5:not(:empty) {
  margin: 0 0 0 1em;
}

*[dir=rtl] ul.block > li.click:not(.disabled):active + li:before,
*[dir=rtl] ul.block > li.click:not(.disabled):active:before {
  right: 0;
}

@media not all and (min-width: 48em) {
  ul.block:not(:empty) {
    margin-left: 0;
    margin-right: 0;
  }

  ul.block > li:first-of-type,
  ul.block > li:last-of-type {
    border-radius: 0;
  }

  ul.block > li:first-of-type:last-of-type:before {
    content: '';
    left: 0;
    right: 0;
  }

  ul.block,
  ul.block > lt {
    border-color: lightgrey;
  }

  .menu .outset ul.block,
  .menu .outset ul.block > lt {
    border: none;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  ul.block,
  ul.block > li .button,
  ul.block > li:before,
  ul.block > lt {
    border-width: 0.5px;
  }
}
