ul.block {
  list-style: none;
  margin: 2em 0 0;
  padding: 0;
}

ul.block li {
  align-items: center;
  background: white;
  border-bottom: 1px solid white;
  display: flex;
  height: 3em;
  padding: 0 0 0 1em;
  position: relative;
}

ul.block li.icon + li:before {
  left: 3.5em;
}

ul.block li:before {
  border-bottom: 1px solid lightgrey;
  top: -1px;
  content: '';
  left: 1em;
  position: absolute;
  right: 0;
}

ul.block li:not(.disabled):active + li:before,
ul.block li:not(.disabled):active:before {
  left: 0;
}

ul.block li:first-of-type {
  border-top: 1px solid lightgrey;
}

ul.block li:last-of-type {
  border-bottom: 1px solid lightgrey;
}

ul.block li:first-of-type:before {
  content: none;
}

ul.block lt {
  color: darkgrey;
  display: block;
  font-size: 0.9em;
  text-transform: uppercase;
}

ul.block lt:not(:empty) {
  padding: 0 1em 0.5em;
}

ul.block li .button {
  border: 1px solid darkgrey;
}

ul.block li .icon {
  width: 2.5em;
}

ul.block li .icon:before {
  font-size: 2em;
}

.nav ul.block li:not(.disabled) {
  cursor: pointer;
}

.nav ul.block li:not(.disabled):active {
  background: lightgrey;
}

.outset ul.block:first-of-type {
  margin: 0;
}

.outset ul.block li:first-of-type {
  border-top: none;
}

.outset ul.block li:last-of-type {
  border-bottom: none;
}

ul.block div.primary {
  padding: 0 1em 0 0;
  white-space: nowrap;
}

ul.block div.primary span {
  color: darkgrey;
  display: block;
  font-size: 0.85em;
}

ul.block div.secondary {
  align-items: center;
  color: darkgrey;
  display: flex;
  margin-left: auto;
  overflow: hidden;
  padding: 0 1em 0 0;
  white-space: nowrap;
}

ul.block div.secondary span:first-child:not(:empty) {
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.block div.secondary span:first-child:not(:empty) + * {
  margin-left: 1em;
}

ul.block div.secondary .icon {
  color: darkgrey;
  width: auto;
}

ul.block li.disabled div.secondary .icon {
  display: none;
}

*[dir=rtl] ul.block li {
  padding: 0 1em 0 0;
}

*[dir=rtl] ul.block li:before {
  left: 0;
  right: 1em;
}

*[dir=rtl] ul.block li.icon:before {
  left: 0;
  right: 3.5em;
}

*[dir=rtl] ul.block div.primary {
  padding: 0 0 0 1em;
}

*[dir=rtl] ul.block div.secondary {
  margin-left: initial;
  margin-right: auto;
  padding: 0 0 0 1em;
}

*[dir=rtl] ul.block div.secondary span:first-child:not(:empty) + * {
  margin-left: 0;
  margin-right: 1em;
}

@media (min-width: 48em) {
  .inset ul.block {
    margin-left: 1em;
    margin-right: 1em;
  }

  .inset ul.block li:first-of-type {
    border-top-color: transparent;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }

  .inset ul.block li:last-of-type {
    border-bottom-color: transparent;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  ul.block li {
    border-bottom: 0.5px solid white;
  }

  ul.block li:before {
    border-bottom: 0.5px solid lightgrey;
    top: -.5px;
  }

  ul.block li:first-of-type {
    border-top: 0.5px solid lightgrey;
  }

  ul.block li:last-of-type {
    border-bottom: 0.5px solid lightgrey;
  }
}
