ul.block {
  margin: 0 0 2em;
  padding: 0;
  list-style: none;
}

ul.block:first-of-type {
  margin-top: 2em;
}

ul.block li {
  align-items: center;
  height: 3em;
  padding: 0 0 0 1em;
  position: relative;
  background: white;
  display: flex;
  border-bottom: 1px solid white;
}

ul.block li.icon:after {
  left: 3.5em;
}

ul.block li:after {
  position: absolute;
  content: '';
  left: 1em;
  right: 0;
  bottom: -1px;
  background: darkgrey;
  height: 1px;
}

ul.block li:first-of-type {
  border-top: 1px solid darkgrey;
}

ul.block li:last-of-type {
  border-bottom: 1px solid darkgrey;
}

ul.block li:last-of-type:after {
  content: none;
}

ul.block lt {
  font-size: 0.9em;
  display: block;
  padding: 0 1em 0.5em;
  text-transform: uppercase;
  color: darkgrey;
}

ul.block li .icon {
  font-size: 2em;
  width: 1.25em;
  margin: 0.25em 0;
}

ul.block li .icon.secondary {
  margin-left: auto;
  margin-right: 0.5em;
  width: auto;
  color: darkgrey;
}

.nav ul.block li {
  cursor: pointer;
}

.nav ul.block li:active {
  background: lightgrey;
}

.outset ul.block {
  margin: 0;
}

.outset ul.block li:first-of-type {
  border-top: none;
}

.outset ul.block li:last-of-type {
  border-bottom: none;
}

*[dir=rtl] ul.block li {
  padding: 0 1em 0 0;
}

*[dir=rtl] ul.block li .icon.secondary {
  margin-right: auto;
  margin-left: 0.5em;
}

*[dir=rtl] ul.block li:after {
  left: 0;
  right: 1em;
}

*[dir=rtl] ul.block li.icon:after {
  left: 0;
  right: 3.5em;
}

@media (min-width: 48em) {
  .inset ul.block {
    margin-left: 1em;
    margin-right: 1em;
  }

  .inset ul.block li:first-of-type {
    border-top-color: white;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }

  .inset ul.block li:last-of-type {
    border-bottom-color: white;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  ul.block li {
    border-bottom: 0.5px solid white;
  }

  ul.block li:after {
    height: 0.5px;
    bottom: -0.5px;
  }

  ul.block li:first-of-type {
    border-top: 0.5px solid darkgrey;
  }

  ul.block li:last-of-type {
    border-bottom: 0.5px solid darkgrey;
  }
}
