div.panel {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

.panel .bar.footer {
  order: 3;
}

.panel .bar.header {
  order: 1;
}

.panel.footer .bar.footer,
.panel.header .bar.header {
  align-items: center;
  background: #FAFAFA;
  display: flex;
  height: 3em;
}

.panel .bar .button {
  align-items: center;
  color: inherit;
  cursor: pointer;
  display: flex;
  height: 2em;
  position: relative;
  text-decoration: inherit;
}

.panel .bar .button:active {
  opacity: 0.5;
}

.panel .bar .button:before {
  font-size: 1.9em;
  position: absolute;
}

.panel .bar .button.icon:empty:before {
  width: 100%;
}

.panel .bar .disabled .button,
.panel .bar.disabled .button {
  display: none;
}

.panel .bar .center {
  flex: 1;
  overflow: hidden;
  margin: 0 1em;
}

.panel .bar .left {
  display: flex;
  min-width: 20%;
}

.panel .bar .right {
  display: flex;
  min-width: 20%;
  justify-content: flex-end;
}

.panel .bar .title {
  font-weight: bold;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.panel .body {
  display: flex;
  flex: 1;
  flex-direction: column;
  order: 2;
  overflow: hidden;
  position: relative;
}

.panel .body .content {
  -webkit-overflow-scrolling: touch;
  flex: 1;
  overflow: auto;
}

.panel .body .content:after {
  content: '';
  display: block;
  height: 2em;
}

.panel.footer .body .content,
.panel.footer .body.disabled > .message {
  border-bottom: 1px solid lightgrey;
}

.panel.header .body .content,
.panel.header .body.disabled > .message {
  border-top: 1px solid lightgrey;
}

.panel .body .button {
  align-items: center;
  background: none;
  border-radius: 50%;
  color: darkgrey;
  display: flex;
  height: 2em;
  justify-content: center;
  padding: 0;
  width: 2em;
}

.panel .body .button[tabindex="-1"],
.panel .body .button[tabindex="0"]:active {
  opacity: 0.5;
}

.panel .body .button:before {
  font-size: 1.9em;
}

.panel .body > .message {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.panel .body.disabled > .message {
  background: whitesmoke;
  color: darkgrey;
  height: 100%;
  padding: 1em;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.panel .body:not(.disabled) > .message {
  background: lightgrey;
  color: dimgrey;
  height: 2.25em;
  margin-bottom: -2.25em;
  padding: 0.5em;
  position: relative;
  top: -2.25em;
  transition: all 0.25s;
  z-index: 0;
}

.panel.message .body:not(.disabled) > .message {
  top: 0;
  margin-bottom: 0;
}

.panel .body.disabled > .message span {
  font-size: 1.9em;
}

.panel .body .search {
  background: #FAFAFA;
  display: flex;
  margin-bottom: -3em;
  position: relative;
  top: -3em;
  transition: all 0.25s;
  z-index: 1;
}

.panel.immediate .body .search {
  transition: none !important;
}

.panel.search .body:not(.disabled) .search {
  margin-bottom: 0;
  top: 0;
}

.panel .body .search div {
  display: flex;
  flex: 1;
}

.panel .body .search div::before {
  color: dimgray;
  font-size: 1.25em !important;
  justify-content: center;
  left: 1.25em;
  position: absolute;
  top: 0.35em;
}

.panel .body .search input {
  background: lightgrey;
  border: 0;
  border-radius: 0.5em;
  flex: 1;
  margin: 0 1em 0.75em;
  padding: 0.5em 0.5em 0.5em 2em;
}

.panel .body .search input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px lightgrey inset;
}

.menu .panel.outset .body {
  background: white;
}

.menu .panel.outset .body .content:after {
  height: 0;
}

*[dir=rtl] .panel .bar .right .button,
.panel .bar .left .button {
  margin: 0 0 0 1em;
}

*[dir=rtl] .panel .bar .right .button + .button,
.panel .bar .left .button + .button {
  margin: 0 -0.5em 0 1em;
}

*[dir=rtl] .panel .bar .right .button.icon,
.panel .bar .left .button.icon {
  padding: 0 0 0 1.25em;
}

*[dir=rtl] .panel .bar .left .button,
.panel .bar .right .button {
  margin: 0 1em 0 0;
}

*[dir=rtl] .panel .bar .left .button + .button,
.panel .bar .right .button + .button {
  margin: 0 1em 0 -0.5em;
}

*[dir=rtl] .panel .bar .left .button.icon,
.panel .bar .right .button.icon {
  padding: 0 1.25em 0 0;
}

*[dir=rtl] .panel .bar .right .button.icon:before,
.panel .bar .left .button.icon:before {
  left: 0;
  right: auto;
}

*[dir=rtl] .panel .bar .left .button.icon:before,
.panel .bar .right .button.icon:before {
  left: auto;
  right: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .panel.footer .body .content,
  .panel.header .body .content {
    border-width: 0.5px;
  }
}
