.section > .panel {
  background: whitesmoke;
  box-shadow: 0 0 15px darkgrey;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

.section > .panel.maximized.footer > .bar.footer,
.section > .panel.maximized.header > .bar.header {
  display: none;
}

.section > .panel > .bar.footer {
  order: 3;
}

.section > .panel > .bar.header {
  order: 1;
}

.section > .panel.footer > .bar.footer,
.section > .panel.header > .bar.header {
  align-items: center;
  background: #FAFAFA;
  display: flex;
  height: 3em;
  justify-content: center;
}

.section > .panel > .bar .button {
  align-items: center;
  color: rgb(14, 122, 254);
  cursor: pointer;
  display: flex;
  height: 2em;
  position: relative;
  text-decoration: inherit;
}

.section > .panel > .bar .button:active {
  opacity: 0.5;
}

.section > .panel > .bar .button:before {
  font-size: 1.9em;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}

.section > .panel > .bar .button.icon:empty:before {
  width: 100%;
}

.section > .panel > .bar .disabled .button,
.section > .panel > .bar.disabled .button {
  display: none;
}

.section > .panel > .bar > .center {
  flex: 1;
  overflow: hidden;
  margin: 0 1em;
}

.section > .panel > .bar > .left {
  display: flex;
  min-width: 20%;
}

.section > .panel > .bar > .right {
  display: flex;
  min-width: 20%;
  justify-content: flex-end;
}

.section > .panel > .bar .title {
  font-weight: bold;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.section > .panel > .body {
  display: flex;
  flex: 1;
  flex-direction: column;
  order: 2;
  overflow: hidden;
  position: relative;
}

.section > .panel > .body > .content {
  -webkit-overflow-scrolling: touch;
  flex: 1;
  overflow: auto;
  position: relative;
}

.section > .panel > .body:not(.disabled) > .content:after {
  border: 1px solid transparent;
  border-radius: 50%;
  border-right: none;
  box-sizing: border-box;
  content: '';
  display: flex;
  height: 2em;
  width: 2em;
}

.section > .panel > .body > .content.busy:after {
  animation: spin 1s infinite linear;
  border-color: grey;
  height: 1.5em;
  margin: 1em auto;
  width: 1.5em;
}

.section > .panel > .body > .content > .progress {
  background: none;
}

.section > .panel.list > .body > .content > .progress,
.section > .panel.select > .body > .content > .progress {
  display: none;
}

.section > .panel.footer > .body > .content,
.section > .panel.footer > .body.disabled > .message {
  border-bottom: 1px solid lightgrey;
}

.section > .panel.header > .body > .content,
.section > .panel.header > .body.disabled > .message {
  border-top: 1px solid lightgrey;
}

.section > .panel > .body .button {
  align-items: center;
  background: none;
  border-radius: 50%;
  color: darkgrey;
  display: flex;
  height: 2em;
  justify-content: center;
  padding: 0;
  width: 2em;
}

.section > .panel > .body .button[tabindex="-1"],
.section > .panel > .body .button[tabindex="0"]:active {
  opacity: 0.5;
}

.section > .panel > .body .button:before {
  display: block;
  font-size: 1.9em;
  width: 100%;
}

.section > .panel > .body > .message {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.section > .panel > .body.disabled > .message {
  background: whitesmoke;
  color: darkgrey;
  height: 100%;
  padding: 1em;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.section > .panel > .body:not(.disabled) > .message {
  background: lightgrey;
  color: dimgrey;
  min-height: 2.25em;
  padding: 0.5em;
  position: relative;
  z-index: 1;
}

.section > .panel.hide-message > .body:not(.disabled) > .message,
.section > .panel.show-message > .body:not(.disabled) > .message {
  transition: all 0.25s;
}

.section > .panel > .body:not(.disabled) > .message,
.section > .panel.hide-message > .body:not(.disabled) > .message {
  margin-bottom: -2.25em;
  top: -2.25em;
}

.section > .panel.show-message > .body:not(.disabled) > .message {
  margin-bottom: 0;
  top: 0;
}

.section > .panel > .body.disabled > .message span {
  font-size: 1.9em;
}

.section > .panel > .body > .search {
  background: #FAFAFA;
  display: flex;
  position: relative;
  z-index: 2;
}

.section > .panel.hide-search > .body:not(.disabled) > .search,
.section > .panel.show-search > .body:not(.disabled) > .search {
  transition: all 0.25s;
}

.section > .panel > .body > .search,
.section > .panel.hide-search > .body:not(.disabled) > .search {
  margin-bottom: -3em;
  top: -3em;
}

.section > .panel.show-search > .body:not(.disabled) > .search {
  margin-bottom: 0;
  top: 0;
}

.section > .panel.show-search.immediate > .body:not(.disabled) > .search {
  transition: none;
}

.section > .panel > .body > .search div {
  display: flex;
  flex: 1;
}

.section > .panel > .body > .search div:before {
  color: dimgrey;
  font-size: 1.25em !important;
  justify-content: center;
  left: 1.25em;
  position: absolute;
  top: 0.35em;
}

.section > .panel > .body > .search input {
  background: lightgrey;
  border: 0;
  border-radius: 0.5em;
  flex: 1;
  margin: 0 1em 0.75em;
  padding: 0.5em 0.5em 0.5em 2em;
}

.section > .panel > .body > .search input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px lightgrey inset;
}

.section.menu > .panel.outset .body {
  background: white;
}

.section.menu > .panel.outset .body > .content:not(.busy):after {
  border: 0;
  height: 0;
}

*[dir=rtl] .section > .panel > .bar .button.flip:before {
  transform: rotate(180deg) translate(0,50%);
}

*[dir=rtl] .section > .panel > .bar > .right .button,
.section > .panel > .bar > .left .button {
  margin: 0 0 0 1em;
}

*[dir=rtl] .section > .panel > .bar > .right .button + .button,
.section > .panel > .bar > .left .button + .button {
  margin: 0 -0.5em 0 1em;
}

*[dir=rtl] .section > .panel > .bar > .right .button.icon,
.section > .panel > .bar > .left .button.icon {
  padding: 0 0 0 1.25em;
}

*[dir=rtl] .section > .panel > .bar > .left .button,
.section > .panel > .bar > .right .button {
  margin: 0 1em 0 0;
}

*[dir=rtl] .section > .panel > .bar > .left .button + .button,
.section > .panel > .bar > .right .button + .button {
  margin: 0 1em 0 -0.5em;
}

*[dir=rtl] .section > .panel > .bar > .left .button.icon,
.section > .panel > .bar > .right .button.icon {
  padding: 0 1.25em 0 0;
}

*[dir=rtl] .section > .panel > .bar > .right .button.icon:before,
.section > .panel > .bar > .left .button.icon:before {
  left: 0;
  right: auto;
}

*[dir=rtl] .section > .panel > .bar > .left .button.icon:before,
.section > .panel > .bar > .right .button.icon:before {
  left: auto;
  right: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .section > .panel.footer > .body > .content,
  .section > .panel.footer > .body.disabled > .message,
  .section > .panel.header > .body > .content,
  .section > .panel.header > .body.disabled > .message {
    border-width: 0.5px;
  }
}
