.panel {
  background: whitesmoke;
  box-shadow: 0 0 15px darkgrey;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Bar */

.panel > * > .bar {
  align-items: center;
  background: #FAFAFA;
  display: flex;
  flex-wrap: wrap;
  height: 3em;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.panel > * > .bar > .center {
  flex: 1;
  margin: 0 1em;
  overflow: hidden;
  text-align: center;
}

.panel > * > .bar > .center > .title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.panel > * > .bar > .left {
  display: flex;
  justify-content: flex-start;
  min-width: 20%;
}

.panel > * > .bar > .right {
  display: flex;
  min-width: 20%;
  justify-content: flex-end;
}

/* Bar button */

.panel > * > .bar .button {
  align-items: center;
  color: rgb(14, 122, 254);
  display: flex;
  position: relative;
}

.panel > * > .bar .button:active {
  opacity: 0.5;
}

.panel > * > .bar .button:before {
  font-size: 1.9em;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}

.panel > * > .bar .button.icon:empty:before {
  width: 100%;
}

*[dir=rtl] .panel > * > .bar > .right .button,
.panel > * > .bar > .left .button {
  margin: 0 0 0 1em;
}

*[dir=rtl] .panel > * > .bar > .right .button + .button,
.panel > * > .bar > .left .button + .button {
  margin: 0 -0.5em 0 1em;
}

*[dir=rtl] .panel > * > .bar > .right .button.icon,
.panel > * > .bar > .left .button.icon {
  padding: 0 0 0 1.25em;
}

*[dir=rtl] .panel > * > .bar > .left .button,
.panel > * > .bar > .right .button {
  margin: 0 1em 0 0;
}

*[dir=rtl] .panel > * > .bar > .left .button + .button,
.panel > * > .bar > .right .button + .button {
  margin: 0 1em 0 -0.5em;
}

*[dir=rtl] .panel > * > .bar > .left .button.icon,
.panel > * > .bar > .right .button.icon {
  padding: 0 1.25em 0 0;
}

*[dir=rtl] .panel > * > .bar > .right .button.icon:before,
.panel > * > .bar > .left .button.icon:before {
  left: 0;
  right: auto;
}

*[dir=rtl] .panel > * > .bar > .left .button.icon:before,
.panel > * > .bar > .right .button.icon:before {
  left: auto;
  right: 0;
}

/* Body */

.panel > .body {
  flex: 1;
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.panel.outset-x.outset-y > .body {
  background: white;
}

.panel > .body:after {
  border: 1px solid transparent;
  border-radius: 50%;
  border-right: none;
  box-sizing: border-box;
  content: '';
  display: flex;
  height: 2em;
  width: 2em;
}

.panel > .body.busy:after {
  animation: spin 1s infinite linear;
  border-color: grey;
  height: 1.5em;
  margin: 1em auto;
  width: 1.5em;
}

.panel.outset-x.outset-y > .body:not(.busy):after {
  border: 0;
  height: 0;
}

/* Body button */

.panel > .body .button {
  align-items: center;
  background: none;
  border-radius: 50%;
  color: rgb(14, 122, 254);
  display: flex;
  height: 2em;
  justify-content: center;
  padding: 0;
  width: 2em;
}

.panel > .body .button:active {
  opacity: 0.5;
}

.panel > .body .button:before {
  display: block;
  font-size: 1.9em;
  width: 100%;
}

/* Footer */

.panel > .footer {
  border-top: 1px solid lightgrey;
  position: relative;
}

/* Header */

.panel > .header {
  border-bottom: 1px solid lightgrey;
  position: relative;
}

/* Header message */

.panel > .header > .message {
  align-items: center;
  background: lightgrey;
  color: dimgrey;
  display: flex;
  justify-content: center;
  min-height: 2.25em;
  padding: 0.5em;
  position: relative;
  text-align: center;
  z-index: 1;
}

.panel.hide-message > .header > .message,
.panel.show-message > .header > .message {
  transition: all 0.25s;
}

.panel .header > .message,
.panel.hide-message > .header > .message {
  margin-bottom: -2.25em;
  top: -2.25em;
}

.panel.show-message > .header > .message {
  margin-bottom: 0;
  top: 0;
}

/* Header progress */

.panel > .header > .progress {
  background: rgb(14, 122, 254);
  bottom: 0;
  height: 3px;
  left: 0;
  position: absolute;
  z-index: 3;
}

/* Header search */

.panel > .header > .search {
  background: #FAFAFA;
  flex: 1 1 auto;
  position: relative;
  z-index: 1;
}

.panel > .header > .search > div {
  display: flex;
  flex: 1 1 auto;
}

.panel > .header > .search > div:before {
  color: dimgrey;
  font-size: 1.25em !important;
  justify-content: center;
  left: 1.25em;
  position: absolute;
  top: 0.35em;
}

.panel > .header > .search > div > input {
  background: lightgrey;
  border: 0;
  border-radius: 0.5em;
  flex: 1 1 auto;
  margin: 0 1em 0.75em;
  padding: 0.5em 0.5em 0.5em 2em;
}

.panel.hide-search > .header > .search,
.panel.show-search > .header > .search {
  transition: all 0.25s;
}

.panel > .header > .search,
.panel.hide-search > .header > .search {
  margin-bottom: -3em;
  top: -3em;
}

.panel.show-search > .header > .search {
  margin-bottom: 0;
  top: 0;
}

.panel.show-search.immediate > .header > .search {
  transition: none;
}
