.summary:not(:empty) {
  background: white;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  display: flex;
  margin: 2em 0 0;
  padding: 1em;
}

.summary .details {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.summary .primary {
  display: flex;
  justify-content: center;
}

.summary .primary figure {
  background: darkgrey;
  border-radius: 0.5em;
  height: 6em;
  margin: 0 0 1em;
  overflow: hidden;
  position: relative;
  width: 6em;
}

.summary .primary figure div {
  height: 100%;
  position: absolute;
  width: 100%;
}

.summary .primary figure abbr {
  align-items: center;
  color: lightgrey;
  display: flex;
  font-size: 3em;
  height: 100%;
  justify-content: center;
}

.summary .primary figure img {
  width: 100%;
}

.summary .secondary {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.summary .primary:not(:empty) + .secondary {
  text-align: center;
}

.summary .secondary .title {
  flex: 1;
}

.summary .secondary .title span {
  display: block;
}

.summary .secondary .title .l1 {
  font-weight: bold;
  font-size: 1.1em;
}

.summary .secondary .title .l2:not(:empty),
.summary .secondary .title .l3:not(:empty) {
  margin: 0.15em 0 0;
}

.summary .primary:empty + .secondary .title .l2,
.summary .primary:not(:empty) + .secondary .title .l3 {
  color: darkgrey;
}

.summary .primary:empty + .secondary .title .l3:not(:empty) {
  border-top: 1px solid lightgrey;
  margin-top: 1em;
}

.summary .primary:empty + .secondary .title .l3 > * {
  line-height: 1.5em;
  margin: 1em 0 0;
}

.summary .primary:empty + .secondary .title .l3 li {
  line-height: inherit;
}

.summary .secondary .actions {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.summary .secondary .actions:not(:empty) {
  margin: 0.5em 0 0;
}

.summary .primary:empty + .secondary .actions:not(:empty) {
  border-top: 1px solid lightgrey;
  margin: 1em 0 0;
  padding-top: 1em;
}

.summary .primary:not(:empty) + .secondary .actions {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.summary .secondary .actions li {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.summary .secondary .actions li + li {
  margin-left: 1em;
}

.summary .secondary .actions li .button {
  background: darkgrey;
  color: white;
  margin: 0 0 0.25em;
}

.summary .secondary .actions li .button:before {
  font-size: 1.5em;
}

.summary .secondary .actions li .button + .label {
  font-size: 0.75em;
}

.summary .secondary .actions li .label:first-child:last-child {
  border: 1px solid darkgrey;
  border-radius: 0.25em;
  color: grey;
  font-size: 0.9em;
  padding: 0.25em;
  text-transform: uppercase;
}

.summary .secondary .actions li .label:first-child:last-child:active {
  background: darkgrey;
  color: white;
}

*[dir=rtl] .summary .secondary .actions li + li {
  margin-left: 0;
  margin-right: 1em;
}

@media (min-width: 48em) {
  .summary:not(:empty) {
    border: 0;
    border-radius: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .summary .details {
    flex-direction: row;
  }

  .summary .primary figure:not(:empty) {
    height: 8em;
    margin: 0 1em 0 0;
    width: 8em;
  }

  .summary .primary figure abbr {
    font-size: 4em;
  }

  .summary .primary:not(:empty) + .secondary {
    height: 8em;
    text-align: inherit;
  }

  .summary .primary:not(:empty) + .secondary .actions {
    justify-content: flex-start;
    margin-left: 0;
    margin-right: 0;
  }

  *[dir=rtl] .summary .primary figure {
    margin: 0 0 0 1em;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .summary .primary:empty + .secondary .actions,
  .summary .primary:empty + .secondary .title .l3,
  .summary .secondary .actions li .label:first-child:last-child,
  .summary:not(:empty) {
    border-width: 0.5px;
  }
}
