ul.tab {
  border: 1px solid rgb(14, 122, 254);
  border-radius: 0.25em;
  color: rgb(14, 122, 254);
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.tab li {
  cursor: pointer;
  flex: 1;
  padding: 0.25em;
  text-align: center;
}

ul.tab li.selected {
  background: rgb(14, 122, 254);
  color: white;
}

ul.tab li + li {
  border-left: 1px solid rgb(14, 122, 254);
}

*[dir=rtl] ul.tab li + li {
  border-left: none;
  border-right: 1px solid rgb(14, 122, 254);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  ul.tab,
  ul.tab li {
    border-width: 0.5px;
  }
}
