.form .item > .label {
  flex: none;
}

.form .item > input,
.form .item > select,
.form .item > textarea {
  flex: 1;
  margin-right: 1em;
  min-width: 0;
  white-space: nowrap;
}

*[dir=rtl] .form .item > input,
*[dir=rtl] .form .item > select,
*[dir=rtl] .form .item > textarea {
  margin-left: 1em;
  margin-right: 0;
}

.form .item > .hint:not(:empty) {
  color: red;
  font-size: 0.9em;
  margin-top: 0.5em;
  width: 100%;
}
