.form .item > .label {
  flex: none;
}

.form .item > .input,
.form .item > input,
.form .item > select,
.form .item > textarea {
  flex: 1;
  min-width: 0;
}

.form .item > input,
.form .item > select {
  white-space: nowrap;
}

.form .item > input[type=checkbox],
.form .item > input[type=radio] {
  flex: none;
}

.form .item > input[type=checkbox]:not(:first-child),
.form .item > input[type=radio]:not(:first-child) {
  margin-left: 0;
}

.form .item > .hint {
  margin-left: 0;
  margin-right: 0;
}

.form .item > .hint:not(:empty) {
  color: red;
  font-size: 0.9em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0;
  width: 100%;
}
-