.graph {
  background: white;
  border-radius: 1em;
  display: flex;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;
  padding: 1em;
}

.graph:after {
  content: '';
  padding-bottom: 66.6%;
}

/* Children */

.graph > * {
  display: flex;
}

/* Center */

.graph > .center {
  display: flex;
  flex-direction: column;
  flex: 1;
  order: 2;
}

/* Center axis */

.graph > .center > .axis {
  display: flex;
}

.graph > .center > .axis.bottom {
  border-top: 1px solid lightgrey;
  height: 2em;
  order: 3;
}

.graph > .center > .axis.top {
  border-bottom: 1px solid lightgrey;
  height: 2em;
  order: 1;
}

/* Left */

.graph > .left {
  order: 1;
}

.graph.top > .left {
  padding-top: 2em;
}

.graph.bottom > .left {
  padding-bottom: 2em;
}

.graph > .left > .axis.left {
  border-right: 1px solid lightgrey;
}

/* Right */

.graph > .right {
  order: 3;
}

.graph.top > .right {
  padding-top: 2em;
}

.graph.bottom > .right {
  padding-bottom: 2em;
}

.graph > .right > .axis.right {
  border-left: 1px solid lightgrey;
}

/* Tick */

.graph > * > .axis > .tick {
  position: relative;
}

.graph > * > .axis > .tick > .text {
  font-size: 0.9em;
  position: relative;
}

/* Tick x-axis */

.graph > * > .axis.x > .tick {
  width: 0;
}

.graph > * > .axis.x > .tick > .mark {
  border-left: 1px solid lightgrey;
  height: 0.5em;
  position: absolute;
  left: 50%;
}

.graph.left > * > .axis.x > .tick > .mark {
  transform: translateX(-1px);
}

.graph > * > .axis.x > .tick > .text {
  position: absolute;
  transform: translateX(-50%);
}

.graph > * > .axis.x.bottom > .tick > .text {
  padding-top: 0.75em;
}

.graph > * > .axis.x.top > .tick > .mark {
  bottom: 0;
}

.graph > * > .axis.x.top > .tick > .text {
  bottom: 0;
  padding-bottom: 0.75em;
}

/* Tick y-axis */

.graph > * > .axis.y > .tick {
  height: 0;
}

.graph > * > .axis.y > .tick > .mark {
  border-top: 1px solid lightgrey;
  width: 0.5em;
  position: absolute;
  top: 50%;
}

.graph.top > * > .axis.y > .tick > .mark {
  transform: translateY(-1px);
}

.graph > * > .axis.y > .tick > .text {
  transform: translateY(-50%);
}

.graph > * > .axis.y.left > .tick > .mark {
  right: 0;
}

.graph > * > .axis.y.left > .tick > .text {
  padding-right: 0.75em;
  text-align: end;
}

.graph > * > .axis.y.right > .tick > .mark {
  left: 0;
}

.graph > * > .axis.y.right > .tick > .text {
  padding-left: 0.75em;
}

/* Body */

.graph > * > .body {
  order: 2;
  flex: 1;
  position: relative;
}

.graph > * > .body > svg {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Body grid */

.graph > * > .body > svg > .grid > .line {
  shape-rendering: crispEdges;
  stroke: lightgrey;
  stroke-width: 1px;
}

.graph.left > * > .body > svg > .grid > .line.x {
  transform: translateX(-1px);
}

.graph.top > * > .body > svg > .grid > .line.y {
  transform: translateY(-1px);
}

/* Body plot */

.graph > * > .body > svg > .plot > .area {
  fill: lightgrey;
}

.graph > * > .body > svg > .plot > .column {
  fill: rgb(14, 122, 254);
}

.graph > * > .body > svg > .plot > .column.zero {
  fill: lightgrey;
}

.graph > * > .body > svg > .plot > .line {
  fill: none;
  stroke: rgb(14, 122, 254);
}
