.graph {
  background: white;
  border-radius: 1em;
  display: flex;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;
  padding: 1em;
}

.graph:after {
  content: '';
  padding-bottom: 66.6%;
}

/* Children */

.graph > * {
  display: flex;
}

.graph > * > .axis {
  z-index: 1;
}

/* Center */

.graph > .center {
  display: flex;
  flex-direction: column;
  flex: 1;
  order: 2;
}

/* Center axis */

.graph > .center > .axis {
  display: flex;
}

.graph > .center > .axis.bottom {
  border-top: 1px solid lightgrey;
  height: 2em;
  order: 3;
}

.graph > .center > .axis.top {
  border-bottom: 1px solid lightgrey;
  height: 2em;
  order: 1;
}

/* Center grid */

.graph > .center > .grid {
  order: 2;
  flex: 1;
  position: relative;
}

.graph > .center > .grid > svg {
  height: 100%;
  position: absolute;
  width: 100%;
}

.graph > .center > .grid > svg path.area {
  fill: lightgrey;
}

.graph > .center > .grid > svg path.line {
  fill: none;
  stroke: rgb(14, 122, 254);
}

.graph > .center > .grid > svg rect {
  fill: rgb(14, 122, 254);
}

.graph > .center > .grid > svg rect.zero {
  fill: lightgrey;
}

/* Left */

.graph > .left {
  order: 1;
}

.graph.top > .left {
  padding-top: 2em;
}

.graph.bottom > .left {
  padding-bottom: 2em;
}

.graph > .left > .axis.left {
  border-right: 1px solid lightgrey;
}

/* Right */

.graph > .right {
  order: 3;
}

.graph.top > .right {
  padding-top: 2em;
}

.graph.bottom > .right {
  padding-bottom: 2em;
}

.graph > .right > .axis.right {
  border-left: 1px solid lightgrey;
}

/* Tick */

.graph > * > .axis > .tick {
  position: relative;
}

.graph > * > .axis > .tick > .text {
  font-size: 0.9em;
  position: relative;
}

/* Tick x-axis */

.graph > * > .axis.x > .tick {
  width: 0;
}

.graph > * > .axis.x > .tick > .mark {
  border-left: 1px solid lightgrey;
  height: 0.5em;
  position: absolute;
  left: 50%;
}

.graph.left > * > .axis.x.linear > .tick:last-child > .mark {
  display: none;
}

.graph.right > * > .axis.x.linear > .tick:first-child > .mark {
  display: none;
}

.graph > * > .axis.x > .tick > .text {
  position: absolute;
  transform: translateX(-50%);
}

.graph > * > .axis.bottom > .tick > .mark {
  bottom: 100%;
}

.graph > * > .axis.bottom > .tick > .text {
  padding-top: 0.25em;
}

.graph > * > .axis.top > .tick > .mark {
  top: 100%;
}

.graph > * > .axis.top > .tick > .text {
  bottom: 0;
  padding-bottom: 0.25em;
}

/* Tick y-axis */

.graph > * > .axis.y > .tick {
  height: 0;
}

.graph > * > .axis.y > .tick > .mark {
  border-top: 1px solid lightgrey;
  width: 0.5em;
  position: absolute;
  top: 50%;
}

.graph.top > * > .axis.y.linear > .tick:first-child > .mark {
  display: none;
}

.graph.bottom > * > .axis.y.linear > .tick:last-child > .mark {
  display: none;
}

.graph > * > .axis.y > .tick > .text {
  transform: translateY(-50%);
}

.graph > * > .axis.left > .tick > .mark {
  left: 100%;
}

.graph > * > .axis.left > .tick > .text {
  padding-right: 0.25em;
  text-align: end;
}

.graph > * > .axis.right > .tick > .mark {
  right: 100%;
}

.graph > * > .axis.right > .tick > .text {
  padding-left: 0.25em;
}
