.group {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
}

.group:last-child {
  margin-bottom: 2em;
}

.panel.outset-x .group {
  margin-left: 0;
  margin-right: 0;
}

/* Body */

.group > .body {
  border-top: 1px solid lightgrey;
  overflow: hidden;
}

.panel.outset-x .group > .body:not(:empty) {
  border-bottom: 1px solid lightgrey;
}

/* Comment */

.group > .comment {
  color: darkgrey;
  display: flex;
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 0.75em 1em 0;
}

/* Title */

.group > .title:not(:empty) {
  color: darkgrey;
  display: flex;
  font-size: 0.9em;
  padding: 0 1.111em 0.555em;
  text-transform: uppercase;
}

.group > .title.fold:after {
  font-family: Ionicons;
  font-size: 1.25em;
  margin-left: auto;
  transition: transform 0.25s ease-in-out;
  width: 0.5em;
}

*[dir=rtl] .group > .title.fold:after {
  margin-left: 0;
  margin-right: auto;
}

.group > .title.fold.all:after {
  content: '\f3d0';
}

.group.folded > .title.fold.all:after {
  transform: rotate(-90deg);
}

.group > .title.fold.some:after {
  content: '\f1fc';
}

.group.folded > .title.fold.some:after {
  content: '\f102';
}

.panel.outset-y .group > .title {
  margin-bottom: 0;
  margin-top: 0;
}
