.ion-ios-brush:before {
  font-size: 1em !important;
}

.ion-ios-search:before {
  font-size: 1.5em !important;
}

.ion-ios-lock:before,
.ion-ios-square:before,
.ion-ios-unlock:before {
  font-size: 1em !important;
}

*[dir=rtl] .ion-ios-arrow-back,
*[dir=rtl] .ion-ios-arrow-forward {
  transform: rotate(180deg);
}
